<nav class="navbar navbar-default navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PriCoSha</a> 
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/tags">Tags</a>
          </li>
          <li>
            <a href="/groups">Groups</a>
          </li>
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/register">Register</a>
          </li>
        </ul>

      </div>
    </div>
</nav>
