{% extends 'home.html' %}

{% block body %}

<html>
<head>
</head>

<body>
    <h2>Add Friends!</h2>
    <br />
    <form action="/sendrequest" method="POST">
        <input type="text" name = "username" placeholder="Username" required/> 
        <br/>
        <input type="text" name = "group_name" placeholder="Group Name" required/>
        <br/>
        <input type="text" name = "username_creator" placeholder="Creator's Username" required/>
        <br/>
        <br />
        <input type="submit" value=Add />
    </form>
</body>

</html>

{% endblock %}