{% extends 'home.html' %}

{% block body %}

<html>
<head>
</head>

<body>
    <h2>Manage Friends!</h2>
    <p>You an add or delete friends here!</p>
    <br />
    <form action="/sendrequests" method="POST">
        <label for="username">Friend's Username</label>
        <input type="text" class = "form-control" name = "username" placeholder="Your Friend's Username" required/> 
        <br/>
        <label for="task">Add or Delete?</label>
        <p>Please enter "Add" or "Delete"</p>
        <input type="text" class= "form-control" name = "task" placeholder="Are  you adding or deleting friends?" required/>
        <br/>
        <label for="group_name">Group Name</label>
        <input type="text" class = "form-control" name = "group_name" placeholder="Group Name" required/>
        <br/>
        <label for="username_creator">Your Username</label>
        <input type="text" class = "form-control" name = "username_creator" placeholder="Your Username" required/>
        <br/>
        <br/>
        <input type="submit" class="btn btn-primary" value=Add />
    </form>
</body>

</html>

{% endblock %}