{% extends 'layout.html' %}

{% block body %}
    <form action="/post" method="POST">
        <h1>Welcome {{username}}</h1> 
        <div class = "well">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="/changePassword">Change Password</a>
                </li>
                <!-- <li class="list-inline-item"> -->
                <!--     <a href="/dashboard">Dashboard</a> -->
                <!-- </li> -->
            </ul>
        </div>
        <input type="text" class = "form-control" name = "content_name" placeholder="post" required/>
        </br></br>
        <label><input type ="checkbox" name = "public" value ="public"/> Public </label>
        <input type="submit" class="btn btn-primary" value = Post />
    </form>

    <style type="text/css">
        table, th, td{
            margin-top: 1cm;
        }
    </style>

    <table class = "table">
        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>Time</th>
                <th>Post</th>
                <th>Tag</th>
            </tr>
        </thead>

        {% for line in posts %}
            <tr>
                <td>{{line.timest}}</td>
                <td>{{line.content_name}}</td>
                <td>
                    <form action="/tag" method="POST">
                        <input type="hidden" name="contentID" value="{{line.id}}">
                        <input type="text" name="taggee" placeholder="Username">
                        <button type="submit">Tag</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
