{% extends 'layout.html' %}  

{% block body %}
    <form action="/post" method="POST">
        <h1>Welcome {{username}}</h1> 
        <div class = "well">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="/changePassword">Change Password</a>
                </li>
                <li class="list-inline-item">
                    <a href="/changeUsername">Change Username</a>
                </li>
            </ul>
        </div>
        <input type="text" class = "form-control" name = "content_name" placeholder="post" required/>
        </br>
        <br />
        <label><input type ="checkbox" name = "p_status"/> Private </label> <br>
        <!-- <input type="submit" class="btn btn-primary" data-target="#myModal" value = Post /> -->
        <input type="submit" class="btn btn-primary" value = Post />

        <!-- Modal -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Add</button>
        <!-- <div id="myModal1" class="modal fade" role="dialog">-->
        <!--     <div class="modal-dialog">-->

        <!--     <1!-- Modal content--1>-->
        <!--         <div class="modal-content">-->
        <!--             <div class="modal-header">-->
        <!--                 <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--                 <h4 class="modal-title">Choose Groups to Share with</h4>-->
        <!--             </div>-->
        <!--             <div class="modal-body">-->
        <!--                 {% for group in groups %}-->
        <!--                     <p>group</p>-->
        <!--                 {%endfor%}-->
        <!--             </div>-->
        <!--             <div class="modal-footer">-->
        <!--                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--             </div>-->
        <!--         </div>-->
        <!--     </div>-->
    </form>


    <style type="text/css">
        table, th, td{
            margin-top: 1cm;
        }
    </style>

    <h2>Posts You Created</h2>
    <table class = "table">
        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>Time</th>
                <th>Post</th>
                <th>Tag</th>
                <th>Comment</th>
                <th>Share</th>
            </tr>
        </thead>
        {% for line in posts %}
            <tr>
                <td>{{line.timest}}</td>
                <td>{{line.content_name}}</td>
                <td>
<!--                    <input type="button" onclick="showTags();" value="Click" />-->
                    <div id="showtags">
                        {% for tag in tags %}
                            {% if line.id == tag.id %}
                                <p>{{tag.first_name}} {{tag.last_name}} ({{tag.username_taggee}})</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <br/>
                    
                    <form action="/tag" method="POST">
                        <input type="hidden" name="contentID" value="{{line.id}}">
                        <input type="text" name="taggee" placeholder="Username">
                        <button type="submit">Tag</button>
                    </form>
                </td>
                <td>
<!--                    <input type="button" onclick="showComments();" value="Click" />-->
                    <div id="showcomments">
                        {% for com in comments %} 
                            {% if line.id == com.id %}
                                <p>{{com.timest}}: {{com.username}}: {{com.comment_text}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <form action="/comment" method="POST">
                        <input type="hidden" name="commentID" value="{{line.id}}">
                        <input type="text" name="comment" placeholder="Comment">
                        <button type="submit">Add</button>
                    </form>
                </td>
                <td>
                    <form action="/sharepost" method="POST">
                        <input type="hidden" name="contentID" value="{{line.id}}">
                        <select name="group_name">
                            {% for group in groups %}
                        <option value="{{group.group_name}}">{{ group.group_name }}</option>    
                        {% endfor %}
                        </select>
                        <button type="submit">Share</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />
    <h2>Posts You Are Tagged In</h2>
    <table class = "table">
        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>Time</th>
                <th>Post</th>
                <th>Tag</th>
                <th>Comment</th>
            </tr>
        </thead>
        {% for line in taggedposts %}
            <tr>
                <td>{{line.timest}}</td>
                <td>{{line.content_name}}</td>
                <td>
<!--                    <input type="button" onclick="showTags();" value="Click" />-->
                    <div id="showtags">
                        {% for tag in tags %}
                            {% if line.id == tag.id %}
                                <p>{{tag.first_name}} {{tag.last_name}} ({{tag.username_taggee}})</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <br/>
                    
                    <form action="/tag" method="POST">
                        <input type="hidden" name="contentID" value="{{line.id}}">
                        <input type="text" name="taggee" placeholder="Username">
                        <button type="submit">Tag</button>
                    </form>
                </td>
                <td>
<!--                    <input type="button" onclick="showComments();" value="Click" />-->
                    <div id="showcomments">
                        {% for com in comments %} 
                            {% if line.id == com.id %}
                                <p>{{com.timest}}: {{com.username}}: {{com.comment_text}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <form action="/comment" method="POST">
                        <input type="hidden" name="commentID" value="{{line.id}}">
                        <input type="text" name="comment" placeholder="Comment">
                        <button type="submit">Add</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <table class = "table">
            <!--Table head-->
            <h>Posts You Are Tagged In</h>
            <thead class="blue-grey lighten-4">
                <tr>
                    <th>Time</th>
                    <th>Post</th>
                    <th>Tag</th>
                    <th>Comment</th>
                </tr>
            </thead>
    
            {% for line2 in taggedPosts %}
                <tr>
                    <td>{{line2.timest}}</td>
                    <td>{{line2.content_name}}</td>
                    <td>
                        <p>{{line2.tags}}</p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Add</button>
                        <div id="myModal1" class="modal fade" role="dialog">
                            <div class="modal-dialog">
    
                            <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Tag</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/tag" method="POST">
                                            <input type="hidden" name="contentID" value="{{line.id}}">
                                            <input type="text" name="taggee" placeholder="Username">
                                            <button type="submit">Tag</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                    </td>
                    <td>
                        <p>{{line2.comments}}</p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Add</button>
                        <div id="myModal2" class="modal fade" role="dialog">
                            <div class="modal-dialog">
    
                            <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Comment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/comment" method="POST">
                                            <input type="hidden" name="commentID" value="{{line.id}}">
                                            <input type="text" name="comment" placeholder="Comment">
                                            <button type="submit">Comment</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}
