{% extends 'layout.html' %}

{% block body %}
<!-- for later -->
    <!-- <h1>Add Friend</h1> -->
<!-- create groups    -->
    <h2>Create Group</h2>
    <p>You can create a group with your friends! If you want to add a friend to existing group, please head over to Friends.</p>
    <form action="/addgroups" method="POST">
        <label for="group_name">Group Name</label>
        <input type="text" class = "form-control" name = "group_name" id = "group_name" required/><br>
        
        <label for="Desc">Description</label>
        <input type="text" class = "form-control" name = "description" id = "Desc" required/><br>
        <!-- <div id="container"> -->
        <!--     <label for="member">Number of members:</label> -->
        <!--     <input type="text" class = "form-control" name = "member" -->
        <!--         id = "member" required/><br> -->
        <!--     <a href="#" id="filldetails" onclick="addFields()">Fill Details</a> -->
        <!-- </div> -->
        <label for="addMems">Please enter usernames of members in a comma, space seperated
        list, ie 'bob123, alice234, eve345'</label>
        <input type="text" class = "form-control" name = "mems" id = "addMems" required/><br>
        <p><input type="submit" class="btn btn-primary" value="Create"></p>
        <!-- <script type="text/javascript" src="../js/scripts.js"></script> -->
    </form>
    <br/>
    <h2>Delete Group</h2>
    <p>Beware! You will permanently delete a group!</p>
    <form action="/deletegroups" method="POST">
        <label for="group_name">Group Name</label>
        <input type="text" class="form-control" name="group_name" id="group_name" required/><br/>
        <br/>
        
        <p><input type="submit" class="btn btn-primary" value="Delete"></p>
    </form>
    <br/><br/>

{% endblock %}
